---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app rxresume
  namespace: utilities
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: rxresume
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudnative-pg
      namespace: databases
    - name: redis
      namespace: databases
    - name: onepassword-connect
      namespace: security
  values:
    controllers:
      rxresume:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret rxresume-external-secret
        initContainers:
          01-check-db-ready:
            image:
              repository: postgres
              tag: 17.8
            command: ['sh', '-c',
              'until pg_isready -h ${POSTGRESQL_HOST_INTERNAL} -p 5432;
              do echo Waiting for PostgreSQL database; sleep 5; done;']
          02-initdb:
            image:
              repository: ghcr.io/home-operations/postgres-init
              tag: 17.6
            envFrom:
              - secretRef:
                  name: *secret
        containers:
          app:
            image:
              repository: amruthpillai/reactive-resume
              tag: v4.4.6
              pullPolicy: IfNotPresent
            env:
              NODE_ENV: "production"
              PORT: &port 3001
              CHROME_URL: "ws://rxresume-chrome.utilities:3000"
            envFrom:
              - secretRef:
                  name: rxresume-external-secret
          chrome:
            image:
              repository: ghcr.io/browserless/chromium
              tag: latest
              pullPolicy: IfNotPresent
            env:
              TIMEOUT: 60000
              CONCURRENT: 10
              EXIT_ON_HEALTH_FAILURE: true
              PRE_REQUEST_HEALTH_CHECK: true
            envFrom:
              - secretRef:
                  name: rxresume-external-secret
    service:
      app:
        controller: rxresume
        ports:
          http:
            port: *port
      chrome:
        controller: rxresume
        ports:
          http:
            port: 3000
    route:
      app:
        hostnames: ["rxresume.${SECRET_DOMAIN}"]
        parentRefs:
          - name: internal
            namespace: kube-system
            sectionName: https
        rules:
          - backendRefs:
              - identifier: app
                port: *port

