---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-machine-learning
  namespace: media
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: immich
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: immich-server
      namespace: media
    - name: redis
      namespace: databases
    - name: cloudnative-pg
      namespace: databases
    - name: onepassword-connect
      namespace: security
    - name: csi-driver-nfs
      namespace: storage
  values:
    controllers:
      immich-machine-learning:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret immich-external-secret
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-machine-learning
              tag: v2.5.6
            envFrom:
              - secretRef:
                  name: *secret
            resources:
              requests:
                cpu: 50m
                memory: 256M
              limits:
                cpu: 1000m
                memory: 2G
    service:
      app:
        controller: immich-machine-learning
        ports:
          http:
            port: 3003
    persistence:
      library:
        enabled: true
        existingClaim: immich-nfs
        globalMounts:
          - path: /usr/src/app/upload
            readOnly: false
      cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /cache
            readOnly: false
