---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-server
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: redis
      namespace: databases
    - name: cloudnative-pg
      namespace: databases
    - name: onepassword-connect
      namespace: security
    - name: csi-driver-nfs
      namespace: storage
  values:
    controllers:
      immich-server:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret immich-external-secret
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
        initContainers:
          01-check-db-ready:
            image:
              repository: postgres
              tag: 16.5
            command: ['sh', '-c',
              'until pg_isready -h ${POSTGRESQL_IMMICH_HOST_INTERNAL} -p 5432;
              do echo Waiting for PostgreSQL database; sleep 5; done;']
          02-initdb:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.5
            envFrom:
              - secretRef:
                  name: *secret
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v1.135.3
            env:
              IMMICH_WORKERS_INCLUDE: 'api'
            envFrom:
              - secretRef:
                  name: *secret
            resources:
              requests:
                cpu: 50m
                memory: 128M
              limits:
                cpu: 250m
                memory: 512M
    service:
      app:
        controller: immich-server
        ports:
          http:
            port: 2283
    ingress:
      app:
        enabled: true
        className: external
        annotations:
          nginx.ingress.kubernetes.io/proxy-body-size: "0"
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host photos.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      library:
        enabled: true
        existingClaim: immich-nfs
        advancedMounts:
          immich-server:
            app:
              - path: /usr/src/app/upload
                readOnly: false
      config:
        enabled: true
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: nfs-csi
        advancedMounts:
          immich-server:
            app:
              - path: /config
                readOnly: false

