---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app npm
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-nfs
      namespace: storage
  values:
    controllers:
      npm:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: jc21/nginx-proxy-manager
              tag: 2.12.3
            env:
              TZ: "${TIMEZONE}"
            probes:
              liveness:
                enabled: false
              readiness:
                enabled: false
              startup:
                enabled: false
    service:
      app:
        controller: npm
        ports:
          http:
            port: 81
      lb:
        enabled: true
        type: LoadBalancer
        controller: npm
        externalTrafficPolicy: Cluster
        annotations:
          lbipam.cilium.io/ips: "${LB_NPM_ADDRESS}"
        ports:
          http:
            enabled: true
            port: 80
            protocol: HTTP
          https:
            enabled: true
            port: 443
            protocol: HTTPS
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host "npm.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        enabled: true
        accessMode: ReadWriteOnce
        size: 5Gi
        storageClass: nfs-csi
        type: persistentVolumeClaim
        globalMounts:
          - path: /data
            readOnly: false
      letsencrypt:
        enabled: true
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: nfs-csi
        type: persistentVolumeClaim
        globalMounts:
          - path: /etc/letsencrypt
            readOnly: false
