---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: open-webui
  namespace: automation
spec:
  interval: 1h
  url: https://helm.openwebui.com/
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app openwebui
spec:
  interval: 1h
  chart:
    spec:
      chart: open-webui
      version: 6.15.0
      sourceRef:
        kind: HelmRepository
        name: open-webui
        namespace: automation
      interval: 15m
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  dependsOn:
    - name: onepassword-connect
      namespace: security
  values:
    annotations:
      secret.reloader.stakater.com/reload: &secret openwebui-external-secret
    ollama:
      enabled: false
    pipelines:
      enabled: false
    ingress:
      enabled: true
      class: "internal"
      host: "ai.${SECRET_DOMAIN}"
      tls: true
    persistence:
      enabled: true
      size: 10Gi
      accessModes:
        - ReadWriteOnce
      storageClass: "nfs-csi"
    extraEnvVars:
      - name: OPENAI_API_KEY
        valueFrom:
          secretKeyRef:
            name: openwebui-external-secret
            key: OPENAI_API_KEY
      - name: ENABLE_LOGIN_FORM
        value: "False"
      - name: ENABLE_OAUTH_SIGNUP
        value: "True"
      - name: OAUTH_PROVIDER_NAME
        value: "Authentik"
      - name: OPENID_PROVIDER_URL
        value: "https://auth.${SECRET_DOMAIN}/application/o/openwebui/.well-known/openid-configuration"
      - name: OPENID_REDIRECT_URI
        value: "https://ai.${SECRET_DOMAIN}/oauth/oidc/callback"
      - name: OAUTH_CLIENT_ID
        valueFrom:
          secretKeyRef:
            name: openwebui-external-secret
            key: OAUTH_CLIENT_ID
      - name: OAUTH_CLIENT_SECRET
        valueFrom:
          secretKeyRef:
            name: openwebui-external-secret
            key: OAUTH_CLIENT_SECRET
      - name: WEBUI_SECRET_KEY
        valueFrom:
          secretKeyRef:
            name: openwebui-external-secret
            key: WEBUI_SECRET_KEY
