---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app pgadmin
spec:
  interval: 15m
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-nfs
      namespace: storage
    - name: onepassword-connect
      namespace: security
  values:
    controllers:
      pgadmin:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: "pgadmin-external-secret,pgadmin-oidc-config"
        containers:
          app:
            image:
              repository: dpage/pgadmin4
              tag: "9.1"
            env:
              PGADMIN_CONFIG_ENHANCED_COOKIE_PROTECTION: "False"
            envFrom:
              - secretRef:
                  name: pgadmin-external-secret
    service:
      app:
        controller: pgadmin
        ports:
          http:
            port: 80
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host "pgadmin.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        storageClass: nfs-csi
        accessMode: ReadWriteOnce
        type: persistentVolumeClaim
        retain: true
        size: 1Gi
        globalMounts:
          - path: /var/lib/pgadmin
            readOnly: false
      passwd:
        enabled: true
        type: secret
        name: pgadmin-oidc-config
        advancedMounts:
          pgadmin:
            app:
              - path: /pgadmin4/config_local.py
                subPath: config_local.py
                readOnly: true
