---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app nginx-static
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-nfs
      namespace: storage
  values:
    annotations:
      configMap.reloader.stakater.com/reload: &configmap nginx-static-conf
    controllers:
      nginx-static:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: nginx
              tag: stable
    service:
      app:
        controller: nginx-static
        ports:
          http:
            port: 80
    ingress:
      app:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host "static.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                    identifier: app
                    port: http
        tls:
          - hosts:
              - *host
    persistence:
      www:
        enabled: true
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: nfs-csi
        type: persistentVolumeClaim
        retain: true
        globalMounts:
          - path: /usr/share/nginx/html
            readOnly: false
      cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /var/cache/nginx
            readOnly: false
      run:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /var/run
            readOnly: false
      nginx-conf:
        enabled: true
        type: configMap
        name: nginx-static-conf
        globalMounts:
          - path: /etc/nginx/nginx.conf
            subPath: nginx.conf
            readOnly: true

