---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app kavita
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-nfs
      namespace: storage
    - name: onepassword-connect
      namespace: security
  values:
    controllers:
      kavita:
        strategy: RollingUpdate
        containers:
          app:
            image:
              repository: linuxserver/kavita
              tag: version-v0.8.4.2
            env:
              TZ: "${TIMEZONE}"
              PUID: 1026
              PGID: 100
    service:
      app:
        controller: kavita
        ports:
          http:
            port: 5000
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host "kavita.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      config:
        enabled: true
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: nfs-csi
        type: persistentVolumeClaim
        globalMounts:
          - path: /config
            readOnly: false
      data:
        enabled: true
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: nfs-csi
        type: persistentVolumeClaim
        globalMounts:
          - path: /data
            readOnly: false
