---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app grist
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudnative-pg
      namespace: databases
    - name: redis
      namespace: databases
    - name: onepassword-connect
      namespace: security
  values:
    controllers:
      grist:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret "grist-external-secret"
        initContainers:
          # 01-check-db-ready:
          #   image:
          #     repository: postgres
          #     tag: 16.6
          #   command: ['sh', '-c',
          #     'until pg_isready -h ${POSTGRESQL_HOST_INTERNAL} -p 5432;
          #     do echo Waiting for PostgreSQL database; sleep 5; done;']
          02-initdb:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.6
            envFrom:
              - secretRef:
                  name: *secret
        containers:
          app:
            image:
              repository: gristlabs/grist
              tag: 1.5.1
            env:
              PORT: &port 8484
              HOME_PORT: "share"
              APP_HOME_URL: "https://grist.${SECRET_DOMAIN}"
            envFrom:
              - secretRef:
                  name: *secret
    service:
      app:
        controller: grist
        ports:
          http:
            port: *port
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host "grist.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        enabled: true
        storageClass: nfs-csi
        accessMode: ReadWriteOnce
        type: persistentVolumeClaim
        retain: true
        size: 20Gi
        globalMounts:
          - path: /persist
            readOnly: false
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1026
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
        seccompProfile: { type: RuntimeDefault }
