---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app immich-microservices
  namespace: media
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: redis
      namespace: databases
    - name: cloudnative-pg
      namespace: databases
    - name: onepassword-connect
      namespace: security
    - name: csi-driver-nfs
      namespace: storage
  values:
    controllers:
      immich-microservices:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret immich-external-secret
        pod:
          topologySpreadConstraints:
            - maxSkew: 1
              topologyKey: kubernetes.io/hostname
              whenUnsatisfiable: DoNotSchedule
              labelSelector:
                matchLabels:
                  app.kubernetes.io/name: *app
        containers:
          app:
            image:
              repository: ghcr.io/immich-app/immich-server
              tag: v1.135.3
            env:
              IMMICH_WORKERS_EXCLUDE: 'api'
            envFrom:
              - secretRef:
                  name: *secret
            resources:
              requests:
                cpu: 100m
                memory: 256M
              limits:
                cpu: 500m
                memory: 1G
    persistence:
      library:
        enabled: true
        existingClaim: immich-nfs
        globalMounts:
          - path: /usr/src/app/upload
            readOnly: false
      geocoding-dump:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /usr/src/app/.reverse-geocoding-dump
            readOnly: false
      geoname-dump:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /usr/src/app/node_modules/local-reverse-geocoder/geonames_dump
            readOnly: false


