---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app stash
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudnative-pg
      namespace: databases
    - name: onepassword-connect
      namespace: security
  values:
    controllers:
      stash:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret "stash-external-secret"
        containers:
          app:
            image:
              repository: stashapp/stash
              tag: v0.27.2
            env:
              STASH_PORT: &port 9999
              STASH_STASH: "/data"
              STASH_GENERATED: "/root/.stash/stash-data/generated"
              STASH_METADATA: "/root/.stash/stash-data/metadata"
              STASH_BLOBS: "/root/.stash/stash-data/blobs"
              STASH_CACHE: "/cache"
    service:
      app:
        controller: stash
        ports:
          http:
            port: *port
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host "stash.${SECRET_DOMAIN}"
            paths:
            - path: /
              pathType: Prefix
              service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        enabled: true
        accessMode: ReadWriteOnce
        storageClass: nfs-csi
        size: 1Gi
        type: persistentVolumeClaim
        globalMounts:
          - path: /data
            readOnly: false
      config:
        enabled: true
        accessMode: ReadWriteOnce
        size: 1Gi
        storageClass: nfs-csi
        type: persistentVolumeClaim
        globalMounts:
          - path: /root/.stash
            readOnly: false
      cache:
        enabled: true
        type: emptyDir
        globalMounts:
          - path: /cache
            readOnly: false

