---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app mosquitto
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-nfs
      namespace: storage
    - name: onepassword-connect
      namespace: security
  values:
    controllers:
      mosquitto:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret "mosquitto-external-secret"
        containers:
          app:
            image:
              repository: eclipse-mosquitto
              tag: 2.0.21
            resources:
              requests:
                cpu: 50m
                memory: 128M
              limits:
                cpu: 50m
                memory: 128M
        pod:
          securityContext:
            runAsUser: 1026
            runAsGroup: 100
            runAsNonRoot: true
            fsGroup: 100
            fsGroupChangePolicy: OnRootMismatch
    configMaps:
      config:
        enabled: true
        data:
          mosquitto.conf: |
            listener 1883
            allow_anonymous true
            persistence true
            persistence_location /mosquitto/data
            connection_messages false
            autosave_interval 1800
            password_file /etc/mosquitto/passwd
    service:
      app:
        controller: mosquitto
        type: LoadBalancer
        ports:
          http:
            port: 1883
    persistence:
      config:
        enabled: true
        type: configMap
        name: mosquitto-config
        globalMounts:
          - path: /mosquitto/config/mosquitto.conf
            subPath: mosquitto.conf
            readOnly: false
      data:
        enabled: true
        accessMode: ReadWriteOnce
        size: 5Gi
        storageClass: nfs-csi
        type: persistentVolumeClaim
        globalMounts:
          - path: /mosquitto/data
            readOnly: false
      passwd:
        enabled: true
        type: secret
        name: mosquitto-external-secret
        globalMounts:
          - path: /etc/mosquitto/passwd
            subPath: passwd
            readOnly: true
