---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: unpoller-external-secret
  namespace: networking
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  refreshInterval: 30m
  target:
    creationPolicy: Owner
    deletionPolicy: "Delete"
    template:
      engineVersion: v2
      data:
        # unpoller
        UP_UNIFI_DEFAULT_ROLE: "home-kubernetes"
        UP_UNIFI_DEFAULT_VERIFY_SSL: "false"
        UP_UNIFI_DEFAULT_URL: "https://{{ .UNIFI_INTERNAL_HOST }}:8443"
        UP_UNIFI_DEFAULT_USER: "{{ .UNIFI_POLLER_USER }}"
        UP_UNIFI_DEFAULT_PASS: "{{ .UNIFI_POLLER_USER_PASS }}"
        UP_INFLUXDB_DISABLE: "true"
  dataFrom:
    - extract:
        key: unifi-external-secret
    - extract:
        key: unpoller-external-secret
