---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app node-red
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: csi-driver-nfs
      namespace: storage
    - name: onepassword-connect
      namespace: security
  values:
    controllers:
      node-red:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret node-red-external-secret
          configmap.reloader.stakater.com/reload: node-red-configmap
        containers:
          app:
            image:
              repository: nodered/node-red
              tag: 4.0.9
            env:
              TZ: "${TIMEZONE}"
            envFrom:
              - secretRef:
                  name: *secret
    service:
      app:
        controller: node-red
        ports:
          http:
            port: 1880
    ingress:
      app:
        enabled: true
        className: internal
        hosts:
          - host: &host "nodered.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: app
                  port: http
        tls:
          - hosts:
              - *host
    persistence:
      data:
        enabled: true
        storageClass: nfs-csi
        accessMode: ReadWriteOnce
        type: persistentVolumeClaim
        retain: true
        size: 20Gi
        globalMounts:
          - path: /data
            readOnly: false
      settings:
        type: configMap
        name: node-red-configmap
        globalMounts:
          - path: /data/settings.js
            subPath: settings.js
            readOnly: true
      tmp:
        type: emptyDir
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1026
        runAsGroup: 100
        fsGroup: 100
        fsGroupChangePolicy: OnRootMismatch
