---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app miniflux
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
  install:
    remediation:
      retries: -1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  dependsOn:
    - name: cloudnative-pg
      namespace: databases
    - name: onepassword-connect
      namespace: security
  values:
    controllers:
      miniflux:
        strategy: RollingUpdate
        annotations:
          secret.reloader.stakater.com/reload: &secret miniflux-external-secret
        containers:
          app:
            image:
              repository: miniflux/miniflux
              tag: 2.2.6
            env:
              RUN_MIGRATIONS: 1
              CREATE_ADMIN: 1
              OAUTH2_USER_CREATION: 1
              METRICS_COLLECTOR: 1
              CLEANUP_FREQUENCY_HOURS: 6
              CLEANUP_ARCHIVE_UNREAD_DAYS: 30
              CLEANUP_ARCHIVE_READ_DAYS: 30
              BASE_URL: "https://miniflux.${SECRET_DOMAIN}"
            envFrom:
              - secretRef:
                  name: *secret
        initContainers:
          01-check-db-ready:
            image:
              repository: postgres
              tag: 16.6
            command: ['sh', '-c',
              'until pg_isready -h ${POSTGRESQL_HOST_INTERNAL} -p 5432;
              do echo Waiting for PostgreSQL database; sleep 5; done;']
          02-initdb:
            image:
              repository: ghcr.io/onedr0p/postgres-init
              tag: 16.6
            envFrom:
              - secretRef:
                  name: *secret
    service:
      app:
        controller: miniflux
        ports:
          http:
            port: 8080
    serviceMonitor:
      app:
        serviceName: miniflux
        endpoints:
          - port: http
            scheme: http
            path: /metrics
            interval: 1m
            scrapeTimeout: 10s
    ingress:
      app:
        enabled: true
        className: external
        annotations:
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host "miniflux.${SECRET_DOMAIN}"
            paths:
            - path: /
              pathType: Prefix
              service:
                identifier: app
                port: http
        tls:
          - hosts:
              - *host
